// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
// @use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
//ヘッダー
.c-entry__header{
	display: flex;
	flex-direction: column;
	@include i.mq(lg){
		margin-bottom: i.px_to_rem(64);
	}
	//ページタイトル
	.page &,
	.blog &,
	.archive &{
		.c-entry__title{
			display: flex;
			flex-direction: column;
			align-items: center;
			@include i.mq(lg){
				font-size: i.px_to_rem(40);
			}
		}
	}
	.single &{
		padding-bottom: i.px_to_rem(20);
		border-bottom: 1px solid #cfcfcf;
		.c-entry__title{
			font-size: i.px_to_rem(24);
			order: 2;
			@include i.mq(md){
				font-size: i.px_to_rem(32);
			}
		}
		.c-entry__meta{
			order: 1;
			margin-bottom: 1rem;
		}
	}
	//メタ
	.c-entry__meta{
		order: 1;
		margin-bottom: i.px_to_rem(32);
	}
	.c-meta{
		display: flex;
		flex-wrap: wrap;
	}
	.c-meta__item--published{
		display: flex;
		align-items: center;
		order: 2;
		time{
			font-size: 1rem;
		}
		svg{
			margin-right: 0.35rem;
			opacity: 0.5;
		}
		
	}
	.c-meta__item--modified{
		display: flex;
		align-items: center;
		order: 3;
		margin-left: 0.5rem;
		time{
			font-size: 1rem;
		}
		svg{
			margin-right: 0.35rem;
			opacity: 0.5;
		}
	}
	.c-meta__item--categories{
		order: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100px;
		margin-right: i.px_to_rem(25);
		padding: 0.25rem 0.5rem;
		background-color: var(--accent-color,#cd162c);
		font-size: i.px_to_rem(12);
		text-align: center;
		line-height: 1;
		color: #fff;
		svg{
			display: none;
		}
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}
	.archive &,
	.blog &{
		max-width: 920px;
		margin-right: auto;
		margin-left: auto;
	}
}
//アイキャッチ付き
.c-page-header__content{
	display: flex;
	flex-direction: column;
}
.c-page-header__title{
	// @include i.heading1;
	order: 2;
}
.c-page-header__meta{
	order: 1;

}

//ボディ
.c-entry__body{
	.c-eyecatch{
		margin-bottom: i.px_to_rem(64);
	}
	//サイドバーありテンプレートではない場合のみ
	body:not([data-has-sidebar="true"]) &{
		.c-eyecatch{
			@include i.mq(lg){
				margin-left: -80px;
				margin-right: -80px;
				width: calc(100% + 160px);
				max-width: none;
			}
		}
	}
	.wp-share-buttons{
		@include i.mq(lg){
			display: none;
		}
	}
}
.c-entry__content{
	>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)+:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.is-style-RJE_R002LP_cta_fix), .textwidget>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)+:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
		@include i.mq(lg){
			margin-top: i.px_to_rem(40);
		}
	}
	.alignfull+.alignfull {
		margin-top: 0;
	}
	> ul{
		> li::marker{
			color:var(--accent-color,#cd162c);
		}
	}
	p{
		@include i.paragraph;
	}
}


//フッター
.c-entry__footer{
	@include i.mq(lg){
		margin-top: i.px_to_rem(72);
	}
}

.wp-share-button--icon.wp-share-button--facebook .wp-share-button__button,
.wp-share-button--icon.wp-share-button--twitter .wp-share-button__button{
	background-color: transparent;
	text-align: center;
	path{
		fill: #333 !important;
		&.is-fill-white{
			fill: #fff !important;
		}
	}
	svg {
		height: 85%;
		width: 85%;
		@include i.mq(lg){
			height: 90%;
			width: 90%;
		}
	}
}