// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.c-entries--text2{
	border-top: none;
	.c-entries__item{
		border-color: #999;
		> a{
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
	.c-entry-summary__body{
		display: flex;
		flex-direction: column;
		letter-spacing: 0.05rem;
		@include i.mq(md){
			flex-direction: row;
		}
	}
	.c-entry-summary__header{
		order: 2;
		margin-top: 0.75rem;
		@include i.mq(md){
			margin-top: 0;
			margin-left: 2rem;
		}
	}
	.c-entry-summary__title{
		font-size: 0.857rem;
		text-align: left;
		line-height: 2;
		@include i.mq(md){
			font-size: 1rem;
		}
	}
	.c-entry-summary__meta{
		order: 1;
		font-size: 0.857rem;
		@include i.mq(md){
			margin-top: 0;
			font-size: 1rem;
		}
		> .c-meta{
			display: flex;
			align-items: center;
		}
		.c-meta__item:not(:last-child) {
			@include i.mq(lg){
				margin-right: 1.25em;
			}
		}
		.c-entry-summary__term{
			min-width: 100px;
			padding: 0.25rem 0.5rem;
			background-color: transparent;
			border: 1px solid;
			font-weight: normal;
			text-align: center;
			color: var(--accent-color,#cd162c);
		}
	}
	.c-meta__item--published{
		@include i.mq(md){
			width: 8.5em;
		}
	}
}
