// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.has-small-font-size{
	font-size: i.px_to_rem(13);
}
.has-normal-font-size{
	font-size: 0.875rem;
	@include i.mq(sm){
		font-size: 1rem;
	}
}
.has-medium-font-size{
	font-size: i.px_to_rem(20);
}
.has-large-font-size{
	font-size: i.px_to_rem(24);
}
.has-huge-font-size{
	font-size: i.px_to_rem(32);
}
