// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
//コンテナ
.l-contents__container{
}


//コンテンツ内包
.l-contents__inner{
	.home &{
		padding-top: 0;
		padding-bottom: 0;
	}
	body:not(.home) &{
		@include i.mq(lg){
			padding-bottom: i.px_to_rem(120);
		}
	}
}
