// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.wp-profile-box{
	@include i.mq(lg){
		margin-top: 4.5rem;
	}
}
.wp-profile-box__title{
	border-bottom: none;
	@include i.heading3;
	@include i.mq(sm){
		padding: i.px_to_rem(35) i.px_to_rem(40) i.px_to_rem(17.5);
	}
}
.wp-profile-box__container{
	@include i.mq(sm){
		padding: i.px_to_rem(17.5) i.px_to_rem(40) i.px_to_rem(35);
	}
}
.wp-profile-box__body{
	letter-spacing: 0.05em;
}
.wp-profile-box__archives-btn{
	border-radius: 6.25rem;
}
