// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.smb-section__header{
	display: flex;
	flex-direction: column;
	.smb-section__subtitle{
		order: 2;
		margin-top: 0.5rem;
		font-size: 1rem;
		font-weight: normal;
		color: #666;
	}
	.smb-section__title{
		order: 1;
		&::after{
			content: unset;
		}
	}
}
