// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.smb-btn{
	.is-ghost-white &{
		&:hover{
			opacity: 1;
			background-color: #fff !important;
			.smb-btn__label{
				filter: invert(100%) grayscale(100%) contrast(100);
			}
		}
	}
  .smb-btn-wrapper.is-ghost-white &{
    &[style*="background-color:"]:hover{
      background-color: #fff !important;
    }
  }
	.is-ghost-black &{
		&:hover{
			opacity: 1;
			background-color: #000 !important;
			.smb-btn__label{
				filter: invert(100%) grayscale(100%) contrast(100);
			}
		}
	}
  .smb-btn-wrapper.is-ghost-black &{
    &[style*="background-color:"]:hover{
      background-color: #000 !important;
    }
  }
}
