// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../_foundation/variable" as v;
@use "../../_foundation/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.smf-form .smf-item:not(:root){
	//ラベル
	.smf-item__col--label{
		@include i.mq(sm){
			flex-basis: 15em;
			max-width: 15em;
		}
		
	}
	.smf-item__label{
		//必須入力表記
		.sme-badge{
			height: auto;
			margin-left: 0.5rem;
			padding: i.px_to_rem(6) i.px_to_rem(12);
			border-radius: 0 !important;
			font-size: 0.75rem;
			line-height: 1;
		}
	}
	//テキスト・テキストエリアフィールド
	.smf-text-control__control,
	.smf-textarea-control__control{
		width: 100%;
		padding: 0.75rem 1.25rem;
		background-color: #e7e7e7;
		border-color: #e7e7e7;
		border-radius: 0;
		&::placeholder {
			color: #8f8f8f;
		}
		&:hover,
		&:active{
			border-color: var(--accent-color, #000);
		}
		&:focus{
			background-color: #fff;
			border-color: var(--accent-color, #000);
		}
	}

	//チェックボックス・ラジオボタン
	.smf-checkbox-control__control,
	.smf-radio-button-control__control{
		margin-top: 0;
		background-color: #e7e7e7;
		border-color: #e7e7e7;
		&:checked{
			background-color: var(--accent-color, #000);
			border-color: var(--accent-color, #000);
		}
		&:hover{
			border-color: var(--accent-color, #000);
		}
	}
	.smf-checkbox-control,
	.smf-radio-button-control{
		align-items: center;
	}
	.smf-checkbox-control__control{
		border-radius: 0;
	}

	//セレクトボックス
	.smf-select-control__control:not(:root){
		border-color: #e7e7e7;
		border-radius: 0;
		&:hover{
			border-color: var(--accent-color, #000);
		}
	}
	.smf-select-control__toggle:not(:root){
		background-color: #e7e7e7;
	}

	//ファイルアップロード
	.smf-file-control__label{
		font-size: 0.86em;
	}
}

//ボタン
.smf-button-control:not(:root) button{
	background: unset;
	color: var(--accent-color, #000);
	width: 250px;
	&:hover,
	&:focus,
	&:active{
		background-color: var(--accent-color, #000);
		border-color: var(--accent-color, #000);
		color: #fff;
	}
}

//ポリシーに同意する
.smf-item.is-policy-check:not(:root){
	margin-top: i.px_to_rem(60);
	.smf-item__controls{
		text-align: center;
	}
	p{
		margin-top: 0.75rem;
	}
}

.smf-progress-tracker:not(:root){
	margin-bottom: i.px_to_rem(64);
}
